.buoi40
{ 
    position: fixed;
    left: 49%;
    bottom: 65%;
}

.buoi4 {
    position: fixed;
    left: 48%;
    bottom: 60%;
}


.buoi41 {
    position: fixed;
    left: 42%;
    bottom: 45%;
}

.buoi42 {
    position: fixed;
    left: 55.8%;
    bottom: 40%;
}